### Import Libraries and Dependencies

In [24]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

### Read in CSV as Pandas DataFrame

In [25]:
# Read in CSV data
csv_path = Path ("/Users/ddevii/Rutgers/Rutgers_Personal_Repo/01-Lesson-Plans/03-Python-Pandas/Activities copy/01-Ins_Welcome/Resources/fb_google_finance.csv")
fb_data = pd.read_csv(csv_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
fb_data.head(15)

             Close
Date
2019-02-12  165.04
2019-02-13  164.07
2019-02-14  163.95
2019-02-15  162.50
2019-02-19  162.29
2019-02-20  162.56
2019-02-21  160.04
2019-02-22  161.89
2019-02-25  164.62
2019-02-26  164.13
2019-02-27  162.81
2019-02-28  161.45
2019-03-01  162.28
2019-03-04  167.37
2019-03-05  171.26

### Slice data for Feb 2019

In [26]:
# Slice data
fb_slice = fb_data.loc["2019-02-01":"2019-03-01"]
fb_slice.head(10)

             Close
Date
2019-02-12  165.04
2019-02-13  164.07
2019-02-14  163.95
2019-02-15  162.50
2019-02-19  162.29
2019-02-20  162.56
2019-02-21  160.04
2019-02-22  161.89
2019-02-25  164.62
2019-02-26  164.13

### Calculate Daily Returns

In [27]:
# Calculate daily returns
fb_daily_returns = fb_slice.pct_change()
fb_daily_returns

               Close
Date
2019-02-12       NaN
2019-02-13 -0.005877
2019-02-14 -0.000731
2019-02-15 -0.008844
2019-02-19 -0.001292
2019-02-20  0.001664
2019-02-21 -0.015502
2019-02-22  0.011560
2019-02-25  0.016863
2019-02-26 -0.002977
2019-02-27 -0.008042
2019-02-28 -0.008353
2019-03-01  0.005141