# Reading a CSV as a Pandas DataFrame

### 1. Import libraries and dependencies

In [1]:
# Import pandas and pathlib
import pandas as pd
from pathlib import Path

### 2. Create a Path to the File Using Pathlib

In [2]:
# Use the Pathlib libary to set the path to the CSV

### 3. Read the CSV into a Pandas DataFrame

In [3]:
# Use the file path to read the CSV into a DataFrame
ppl_df = pd.read_csv("../Resources/people.csv")

### 4. Display a Few Rows of the DataFrame

In [4]:
# Use the `head` function to display a few rows of the top of the DataFrame
ppl_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 5. Generate Summary Statistics on the DataFrame

In [5]:
# Use the `include` parameter set to 'all' to include all columns (and datatypes)
ppl_df.describe(include="all")
ppl_df

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0
...,...,...,...,...,...,...,...,...
995,996.0,Meta,Crumpton,mcrumptonrn@qq.com,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0
996,997.0,Gunar,Gilford,ggilfordro@yandex.ru,Male,Smolny University,Marketing Manager,76109.0
997,998.0,Lucretia,Gurling,lgurlingrp@de.vu,Female,Institut Teknologi Telkom,Software Engineer III,92115.0
998,999.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0
999,1000.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0